
.columns-page
  margin: auto
  width: 90vw
  height: 90vh
  position: relative
  &__name
    height: 10vh
    font-size: 40px
    color: white
  &__wrapper
    margin-top: 2vh
    height: 78vh
    max-height: 100%
    display: flex
    justify-content: space-between
    align-items: flex-start
    gap: 30px
    overflow-x: auto
